---
import { getCollection } from 'astro:content'
import Base from '../layouts/base.astro'
import PostItem from '../partials/post-item.astro'

const lang = 'en'
const dir = 'ltr'

const posts = await getCollection('posts', post => {
	return post.slug.includes(lang)
})

const {pathname} = Astro.url
const meta = await getCollection('meta')
const currentLangMeta = meta.filter(({data}) => {
    return pathname === data.pathname
})
---

<Base lang={lang} dir={dir}>
	<title>Cosmic Dust - Blog Web Template</title>
	<meta name="description" content="Cosmic Dust is an Astrobuild Kickstarter web template to create and launch a multilingual blog quickly">
	<meta property="og:title" content="Cosmic Dust - Blog Web Template">
	<meta property="og:description" content="Astrobuild kickstarter multilingual blog web template">
	<meta property="og:image" content="https://andrewsaeed.dev/me.png">
	<meta property="og:url" content="https://cosmic-dust-web-template.netlify.app">
	<meta property="og:type" content="website">
	
	<main slot="main">

		<section class="py-20 px-2 space-y-20">
			{
				posts.map(post => {
					return <PostItem 
						title={post.data.title}
						date={post.data.date}
						category={post.data.category}
						excerpt={post.data.excerpt}
						link={post.slug}
						currentLangMeta={currentLangMeta}
					/>
				})
			}
		</section>
	</main>
</Base>