---
import type { CollectionEntry } from 'astro:content'
import LinkBtn from '../theme/link-btn.astro'

interface Props {
    currentPage: number;
    lastPage: number;
    currentLangMeta: CollectionEntry<'meta'>;
    baseUrl: string;
}

const {currentPage, lastPage, currentLangMeta, baseUrl} = Astro.props
const nextLink = `/${baseUrl}/${currentPage+1}/`
const prevLink = `/${baseUrl}/${currentPage-1}/`
---
<div class="max-w-screen-sm flex justify-between mx-auto">
    <LinkBtn link={prevLink} disabled={(currentPage-1)===0} ariaLabel={currentLangMeta.data.btns.prev}>{currentLangMeta.data.btns.prev}</LinkBtn>
    <LinkBtn link={nextLink} disabled={lastPage===currentPage} ariaLabel={currentLangMeta.data.btns.next}>{currentLangMeta.data.btns.next}</LinkBtn>
</div>