---
import { getCollection } from 'astro:content'
import Base from "../../layouts/base.astro"
import PostItem from '../../partials/post-item.astro'

const lang = 'ar'
const dir = 'rtl'

const posts = await getCollection('posts', post => {
	return post.slug.includes(lang)
})

const {pathname} = Astro.url
const meta = await getCollection('meta')
const currentLangMeta = meta.filter(({data}) => {
    return pathname === data.pathname
})
---

<Base lang={lang} dir={dir}>
	<title>Cosmic Dust - قالب ويب بلوج</title>
	<meta name="description" content="وصف  Cosmic Dust هو  Astrobuild Kickstarter Web Template لإنشاء وإطلاق مدونة متعددة اللغات بسرعة">
	<meta property="og:title" content="Cosmic Dust - قالب ويب بلوج">
	<meta property="og:description" content="Astrobuild kickstarter متعددة اللغات بلوج ويب قالب">
	<meta property="og:image" content="https://andrewsaeed.dev/me.png">
	<meta property="og:url" content="https://cosmic-dust-web-template.netlify.app/ar">
	<meta property="og:type" content="website">
	
	<main slot="main">

		<section id="main-section" class="space-y-20">
			{
				posts.map(post => {
					return <PostItem 
						title={post.data.title}
						date={post.data.date}
						category={post.data.category}
						excerpt={post.data.excerpt}
						link={post.slug}
						currentLangMeta={currentLangMeta}
					/>
				})
			}
		</section>
	</main>
</Base>